<md-card style="width: 30%">
  <md-card-header>
      <md-card-title>{{tipo_inmueble.model}} Detalles </md-card-title>
  </md-card-header>
  <md-card-content>
    <div><label>id: </label>{{tipo_inmueble.id}}</div>
    <div>
      <label>model: </label>
      <input [(ngModel)]="tipo_inmueble.model" placeholder="model" />
    </div>
  </md-card-content>
  <md-card-actions>
      <button md-button (click)="goBack()"> Back </button>
      <button md-button (click)="updateBike()"> Update </button>
  </md-card-actions>
</md-card>