<div [@routerTransition]>
    <h2>Tipos</h2>
    <table class="table table-strip">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipo_inmueble of tipos_inmueble">
                <td>{{ tipo_inmueble.id }}</td>
                <td>{{ tipo_inmueble.nombre }}</td>          
            </tr>
        </tbody>
    </table>
    <button class="btn btn-sm btn-primary" md-button (click)="updateTipoInmueble()">Agregar Nuevo</button>    
</div>